{{#p-faq}}
{{> ../head }}
{{> ../organisms/home-menu}}
{{> ../organisms/faq-content-line-1}}
{{> ../organisms/oral-translation-content-line-4}}
{{> ../organisms/oral-translation-content-line-5}}
{{> ../organisms/oral-translation-content-line-6}}
{{> ../organisms/modals-window}}
{{> ../organisms/foot-menu}}
{{> ../organisms/footer-main}}
{{> ../foot }}
{{/p-faq}}