{{#p-spanish-courses}}
{{> ../head }}
{{> ../organisms/home-menu}}
{{> ../organisms/courses-for-kids-content-line-1}}
{{> ../organisms/oral-translation-content-line-3}}
{{> ../organisms/oral-translation-content-line-8}}
{{> ../organisms/oral-translation-content-line-4}}
{{> ../organisms/spanish-courses-content-line-5}}
{{> ../organisms/courses-for-kids-content-line-3}}
{{> ../organisms/home-content-line-3}}
{{> ../organisms/home-content-line-4}}
{{> ../organisms/tariffs-content-line-1}}
{{> ../organisms/oral-translation-content-line-7}}
{{> ../organisms/modals-window}}
{{> ../organisms/foot-menu}}
{{> ../organisms/footer-main}}
{{> ../foot }}
{{/p-spanish-courses}}