{{#p-useful-information}}
{{> ../head }}
{{> ../organisms/home-menu}}
{{> ../organisms/oral-translation-content-line-5}}
{{> ../organisms/oral-translation-content-line-6}}
{{> ../organisms/useful-information-content-line-1}}
{{> ../organisms/useful-information-content-line-2}}
{{> ../organisms/useful-information-content-line-3}}
{{/p-useful-information}}