<section class="home-menu">
    <div class="nav_wrapper">
        <div class="location-and-number d-flex d-lg-none">
            <div class="home-menu__select">
                <img src="assets/img/location-menu.png" alt="locaton">
                <select name="slct" id="home-select">
					<option value="1">Львів</option>
					<option value="2">Тернопіль</option>
					<option value="3">Київ</option>
				</select>
            </div>

            <div class="home-menu__phone-number d-lg-flex">
                <img src="assets/img/home-phone-number.png" alt="phone">
                <p>(067) 67-24-773</p>
            </div>
        </div>
        <div class="d-lg-none d-block w-100">
            <div class="spinner-master">
                <input type="checkbox" id="spinner-form" />
                <label for="spinner-form" class="spinner-spin">
					<div class="spinner diagonal part-1"></div>
					<div class="spinner horizontal"></div>
					<div class="spinner diagonal part-2"></div>
				</label>
            </div>

            <nav id="menu" class="menu-header float-right">
                <ul class="dropdown">
                    <li><a href="#Link" title="Link">Мовні курси</a></li>
                    <li><a href="#Link" title="Link">Переклади</a>
                        <ul>
                            <li><a href="#Link" title="Link">Легалізація</a></li>
                            <li><a href="#Link" title="Link">Апостиль</a></li>
                            <li><a href="#Link" title="Link">Нотаріальний</a></li>
                        </ul>
                    </li>
                    <li><a href="#Link" title="Link">Міжнародні іспити</a></li>
                    <li><a href="#Link" title="Link">Про нас</a></li>
                    <li><a href="#Link" title="Link">Прайс</a></li>
                    <li><a href="#Link" title="Link">Розклад занять</a></li>
                    <li><a href="#Link" title="Link">Контакти</a></li>
                </ul>
            </nav>

            <div>
                <img class="brand-style" src="assets/img/hone-logo.png" alt="logo">
            </div>
        </div>
        <div class="container">
            <div class="w-100 ">
                <div class="nav_wrapper-menu d-flex align-items-center justify-content-around ">
                    <div class="menu-main ">
                        <div class="d-none d-lg-flex ">
                            <div>
                                <img class="brand-style" src="assets/img/hone-logo.png" alt="logo">
                            </div>
                            <div class="home-menu__select">
                                <img src="assets/img/location-menu.png" alt="locaton">
                                <select name="slct" id="home-select">
									<option value="1">Львів</option>
									<option value="2">Тернопіль</option>
									<option value="3">Київ</option>
								</select>
                            </div>
                            <div class="spinner-master">
                                <input type="checkbox" id="spinner-form" />
                                <label for="spinner-form" class="spinner-spin">
									<div class="spinner diagonal part-1"></div>
									<div class="spinner horizontal"></div>
									<div class="spinner diagonal part-2"></div>
								</label>
                            </div>
                        </div>
                    </div>

                    <div class="d-none d-lg-flex">
                        <nav id="menu" class="menu-header float-right">
                            <ul class="dropdown">
                                <li><a href="#Link" title="Link">Мовні курси</a></li>
                                <li><a href="#Link" title="Link">Переклади</a>
                                    <ul>
                                        <li><a href="#Link" title="Link">Легалізація</a></li>
                                        <li><a href="#Link" title="Link">Апостиль</a></li>
                                        <li><a href="#Link" title="Link">Нотаріальний</a></li>
                                    </ul>
                                </li>
                                <li><a href="#Link" title="Link">Міжнародні іспити</a></li>
                                <li><a href="#Link" title="Link">Про нас</a></li>
                                <li><a href="#Link" title="Link">Прайс</a></li>
                                <li><a href="#Link" title="Link">Розклад занять</a></li>
                                <li><a href="#Link" title="Link">Контакти</a></li>
                            </ul>
                        </nav>
                        <div class="home-menu__phone-number  d-lg-flex">
                            <img src="assets/img/home-phone-number.png" alt="phone">
                            <p>(067) 67-24-773</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>