<section class="oral-translation" style="background-image:url('assets/img/oral-bg.png');">
    <div class="container">
        <div class="oral-translation__main">
            <div class="row">

                <div class="col-12 col-lg-6">
                    <div class="oral-translation__main__title">
                        <h1>Усний та синхронний </h1>
                        <h2>Переклад</h2>
                    </div>

                    <div class="oral-translation__main__description">
                        <p>
                            Це місце де ви можете отримати високоякісний переклад, як письмовий так і усний.
                        </p>
                        <p> Десятки мов світу, кваліфіковані перекладачі, редакторська вичитка - це лише невелика доля того, за що нас довіряють клієнти.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>