{{#mol-calendar-content}}
{{#main-time}}
<div class="calendar__main__item__times__content">
	{{#time}}
	<div class="calendar__main__item__times__content__hour">
		<p>{{{time}}}</p>
	</div>
	{{/time}}
	{{#text}}
	<div class="calendar__main__item__times__content__text">
		<p>{{{text}}}</p>
	</div>
	{{/text}}
</div>
{{/main-time}}
{{/mol-calendar-content}}