{{#mol-city-center-content-2}}
<div class="row">
	<div class="col-12 col-lg-9">
		<div class="city-center-content__main another-block-content {{city-center-li}} {{city-center-li-violet}}">
			{{#description-1}}
			<p>
				{{{description-1}}}
			</p>
			{{/description-1}}

			<ul>
				{{#lists}}
				<li>
					{{{li}}}
				</li>
				{{/lists}}
			</ul>

			{{#description-2}}
			<p>
				{{{description-2}}}
			</p>
			{{/description-2}}
		</div>
	</div>
</div>
{{/mol-city-center-content-2}}