{{#mol-company-logos}}
<div class="company-logo__main__item">
	<img src="{{{img}}}" alt="{{{alt}}}">
	<div class="company-logo__main__item__underline-image">
		<img src="assets/img/underline.png" alt="underline">
	</div>
</div>
{{/mol-company-logos}}