{{#mol-international-exams-more-btn}}
  <div class="row">
    {{#my-btn}}
      <div class="col-12 col-md-4 col-lg-4">
        <div class="we-go-to__main__button">
          {{#link}}
          <a href="#">{{{link}}}</a>
          {{/link}}
        </div>
      </div>
    {{/my-btn}}
  </div>
{{/mol-international-exams-more-btn}}
