{{#mol-language-buttons}}
{{#buttons}}
<div class="col-6 col-lg-4 {{language-delete-btn}}">
	{{#img}}
	<a href="#" class="languages-section__main__item {{written-btn-item}} {{kids-item-green}} {{pointer-events-class}}">
		<img src="{{{img}}}" alt="{{{alt}}}">
		{{#description}}
		<p>
			{{{description}}}
		</p>
		{{/description}}
</div>
{{/img}}
</a>
{{/buttons}}
{{/mol-language-buttons}}