{{#mol-our-courses-content}}
<div class="row courses-reverse">

	<div class="courses-item-block">
		<div class="col-12 col-lg-6">
			<div class="our-courses__main__info">
				<div class="our-courses__main__info__title">
					<h2>Курси для дорослих</h2>
				</div>

				<div class="our-courses__main__info__description">
					<p>Безумовно, можна спробувати вивчати Англійську самому.
						Більше того, 90% наших студентів так і починали.
						Проте самостійне навчання не дає бажаного результату.
						Причин на це - безліч. Ми ж гарантовано навчимо вас</p>
				</div>

				<div class="our-courses__main__info__list">
					<ul>
						<li>Вільно розмовляти</li>
						<li>Розуміти</li>
						<li>Чититати</li>
					</ul>
				</div>

				<div class="our-courses__main__info__button">
					<a href="#">Дізнатися більше</a>
				</div>

			</div>
		</div>

		<div class="col-12 col-lg-6">
			<div class="our-courses__main__image">
				<img src="assets/img/courses-img-1.png" alt="courses">
			</div>
			<div class="our-courses__main__navigation-arrow">
				<img src="assets/img/navigation-left.png" alt="navigation">
			</div>
		</div>


		<div class="our-courses__main__languages-btn">
			<div class="row ">

				<div class="justify-content-center d-flex flex-wrap flex-row">
					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/flag-1.png" alt="flag1">
							<p>Англійська</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/pol-flag.png" alt="flag1">
							<p>Польська</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/germ-flag.png" alt="flag1">
							<p>Німецька</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/esp-flag.png" alt="flag1">
							<p>Іспанська</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/italy-flag.png" alt="flag1">
							<p>Італійська</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/franc-flag.png" alt="flag1">
							<p>Французька</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/chesh-flag.png" alt="flag1">
							<p>Чеська</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/china-flag.png" alt="flag1">
							<p>Китайська</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/jap-flag.png" alt="flag1">
							<p>Японська</p>
						</a>
					</div>
				</div>

			</div>
		</div>

		<div class="linear-gradient"></div>

	</div>

	<div class="courses-item-block">
		<div class="col-12 col-lg-6">
			<div class="our-courses__main__info">
				<div class="our-courses__main__info__title">
					<h2>Курси для дітей</h2>
				</div>

				<div class="our-courses__main__info__description">
					<p>Безумовно, можна спробувати вивчати Англійську самому.
						Більше того, 90% наших студентів так і починали.
						Проте самостійне навчання не дає бажаного результату.
						Причин на це - безліч. Ми ж гарантовано навчимо вас</p>
				</div>

				<div class="our-courses__main__info__list">
					<ul>
						<li>Вільно розмовляти</li>
						<li>Розуміти</li>
						<li>Чититати</li>
					</ul>
				</div>

				<div class="our-courses__main__info__button">
					<a href="#">Дізнатися більше</a>
				</div>

			</div>
		</div>

		<div class="col-12 col-lg-6">
			<div class="our-courses__main__image">
				<img src="assets/img/home-courses.png" alt="courses">
			</div>
			<div class="our-courses__main__navigation-arrow">
				<img src="assets/img/navigation-right.png" alt="navigation">
			</div>
		</div>


		<div class="our-courses__main__languages-btn">
			<div class="row">

				<div class="justify-content-center d-flex flex-wrap flex-row">
					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/flag-1.png" alt="flag1">
							<p>Англійська</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/pol-flag.png" alt="flag1">
							<p>Польська</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/germ-flag.png" alt="flag1">
							<p>Німецька</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/esp-flag.png" alt="flag1">
							<p>Іспанська</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/italy-flag.png" alt="flag1">
							<p>Італійська</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/franc-flag.png" alt="flag1">
							<p>Французька</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/chesh-flag.png" alt="flag1">
							<p>Чеська</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/china-flag.png" alt="flag1">
							<p>Китайська</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/jap-flag.png" alt="flag1">
							<p>Японська</p>
						</a>
					</div>
				</div>

			</div>
		</div>


		<div class="linear-gradient"></div>

	</div>

	<div class="courses-item-block">
		<div class="col-12 col-lg-6">
			<div class="our-courses__main__info">
				<div class="our-courses__main__info__title">
					<h2>Підготовка до ЗНО</h2>
				</div>

				<div class="our-courses__main__info__description">
					<p>Безумовно, можна спробувати вивчати Англійську самому.
						Більше того, 90% наших студентів так і починали.
						Проте самостійне навчання не дає бажаного результату.
						Причин на це - безліч. Ми ж гарантовано навчимо вас</p>
				</div>

				<div class="our-courses__main__info__list">
					<ul>
						<li>Вільно розмовляти</li>
						<li>Розуміти</li>
						<li>Чититати</li>
					</ul>
				</div>

				<div class="our-courses__main__info__button">
					<a href="#">Дізнатися більше</a>
				</div>

			</div>
		</div>

		<div class="col-12 col-lg-6">
			<div class="our-courses__main__image">
				<img src="assets/img/courses-img-2.png" alt="courses">
			</div>
			<div class="our-courses__main__navigation-arrow">
				<img src="assets/img/navigation-left.png" alt="navigation">
			</div>
		</div>


		<div class="our-courses__main__languages-btn">
			<div class="row">

				<div class="justify-content-center d-flex flex-wrap flex-row">
					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/flag-1.png" alt="flag1">
							<p>Англійська</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/pol-flag.png" alt="flag1">
							<p>Польська</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/germ-flag.png" alt="flag1">
							<p>Німецька</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/esp-flag.png" alt="flag1">
							<p>Іспанська</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/italy-flag.png" alt="flag1">
							<p>Італійська</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/franc-flag.png" alt="flag1">
							<p>Французька</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/chesh-flag.png" alt="flag1">
							<p>Чеська</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/china-flag.png" alt="flag1">
							<p>Китайська</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/jap-flag.png" alt="flag1">
							<p>Японська</p>
						</a>
					</div>
				</div>

			</div>
		</div>


		<div class="linear-gradient"></div>

	</div>

	<div class="courses-item-block">
		<div class="col-12 col-lg-6">
			<div class="our-courses__main__info">
				<div class="our-courses__main__info__title">
					<h2>Онлайн курси</h2>
				</div>

				<div class="our-courses__main__info__description">
					<p>Безумовно, можна спробувати вивчати Англійську самому.
						Більше того, 90% наших студентів так і починали.
						Проте самостійне навчання не дає бажаного результату.
						Причин на це - безліч. Ми ж гарантовано навчимо вас</p>
				</div>

				<div class="our-courses__main__info__list">
					<ul>
						<li>Вільно розмовляти</li>
						<li>Розуміти</li>
						<li>Чититати</li>
					</ul>
				</div>

				<div class="our-courses__main__info__button">
					<a href="#">Дізнатися більше</a>
				</div>

			</div>
		</div>

		<div class="col-12 col-lg-6">
			<div class="our-courses__main__image">
				<img src="assets/img/courses-img-3.png" alt="courses">
			</div>
			<div class="our-courses__main__navigation-arrow">
				<img src="assets/img/navigation-right.png" alt="navigation">
			</div>
		</div>


		<div class="our-courses__main__languages-btn">
			<div class="row ">

				<div class="justify-content-center d-flex flex-wrap flex-row">
					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/flag-1.png" alt="flag1">
							<p>Англійська</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/pol-flag.png" alt="flag1">
							<p>Польська</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/germ-flag.png" alt="flag1">
							<p>Німецька</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/esp-flag.png" alt="flag1">
							<p>Іспанська</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/italy-flag.png" alt="flag1">
							<p>Італійська</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/franc-flag.png" alt="flag1">
							<p>Французька</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/chesh-flag.png" alt="flag1">
							<p>Чеська</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/china-flag.png" alt="flag1">
							<p>Китайська</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/jap-flag.png" alt="flag1">
							<p>Японська</p>
						</a>
					</div>
				</div>

			</div>
		</div>


		<div class="linear-gradient"></div>

	</div>

	<div class="courses-item-block">
		<div class="col-12 col-lg-6">
			<div class="our-courses__main__info">
				<div class="our-courses__main__info__title">
					<h2>Курси для бізнесу</h2>
				</div>

				<div class="our-courses__main__info__description">
					<p>Безумовно, можна спробувати вивчати Англійську самому.
						Більше того, 90% наших студентів так і починали.
						Проте самостійне навчання не дає бажаного результату.
						Причин на це - безліч. Ми ж гарантовано навчимо вас</p>
				</div>

				<div class="our-courses__main__info__list">
					<ul>
						<li>Вільно розмовляти</li>
						<li>Розуміти</li>
						<li>Чититати</li>
					</ul>
				</div>

				<div class="our-courses__main__info__button">
					<a href="#">Дізнатися більше</a>
				</div>

			</div>
		</div>

		<div class="col-12 col-lg-6">
			<div class="our-courses__main__image">
				<img src="assets/img/home-courses-4.png" alt="courses">
			</div>
			<div class="our-courses__main__navigation-arrow">
				<img src="assets/img/navigation-left.png" alt="navigation">
			</div>
		</div>


		<div class="our-courses__main__languages-btn">
			<div class="row">

				<div class="justify-content-center d-flex flex-wrap flex-row">
					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/flag-1.png" alt="flag1">
							<p>Англійська</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/pol-flag.png" alt="flag1">
							<p>Польська</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/germ-flag.png" alt="flag1">
							<p>Німецька</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/esp-flag.png" alt="flag1">
							<p>Іспанська</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/italy-flag.png" alt="flag1">
							<p>Італійська</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/franc-flag.png" alt="flag1">
							<p>Французька</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/chesh-flag.png" alt="flag1">
							<p>Чеська</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/china-flag.png" alt="flag1">
							<p>Китайська</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/jap-flag.png" alt="flag1">
							<p>Японська</p>
						</a>
					</div>
				</div>

			</div>
		</div>


		<div class="linear-gradient"></div>

	</div>

	<div class="courses-item-block">
		<div class="col-12 col-lg-6">
			<div class="our-courses__main__info">
				<div class="our-courses__main__info__title">
					<h2>Тестування</h2>
				</div>

				<div class="our-courses__main__info__description">
					<p>Безумовно, можна спробувати вивчати Англійську самому.
						Більше того, 90% наших студентів так і починали.
						Проте самостійне навчання не дає бажаного результату.
						Причин на це - безліч. Ми ж гарантовано навчимо вас</p>
				</div>

				<div class="our-courses__main__info__list">
					<ul>
						<li>Вільно розмовляти</li>
						<li>Розуміти</li>
						<li>Чититати</li>
					</ul>
				</div>

				<div class="our-courses__main__info__button">
					<a href="#">Дізнатися більше</a>
				</div>

			</div>
		</div>

		<div class="col-12 col-lg-6">
			<div class="our-courses__main__image">
				<img src="assets/img/courses-img-5.png" alt="courses">
			</div>
			<div class="our-courses__main__navigation-arrow">
				<img src="assets/img/navigation-right.png" alt="navigation">
			</div>
		</div>


		<div class="our-courses__main__languages-btn">
			<div class="row">

				<div class="justify-content-center d-flex flex-wrap flex-row">
					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/flag-1.png" alt="flag1">
							<p>Англійська</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/pol-flag.png" alt="flag1">
							<p>Польська</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/germ-flag.png" alt="flag1">
							<p>Німецька</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/esp-flag.png" alt="flag1">
							<p>Іспанська</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/italy-flag.png" alt="flag1">
							<p>Італійська</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/franc-flag.png" alt="flag1">
							<p>Французька</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/chesh-flag.png" alt="flag1">
							<p>Чеська</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/china-flag.png" alt="flag1">
							<p>Китайська</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/jap-flag.png" alt="flag1">
							<p>Японська</p>
						</a>
					</div>
				</div>

			</div>
		</div>


		<div class="linear-gradient"></div>

	</div>

	<div class="courses-item-block">
		<div class="col-12 col-lg-6">
			<div class="our-courses__main__info">
				<div class="our-courses__main__info__title">
					<h2>Пробні заняття</h2>
				</div>

				<div class="our-courses__main__info__description">
					<p>Безумовно, можна спробувати вивчати Англійську самому.
						Більше того, 90% наших студентів так і починали.
						Проте самостійне навчання не дає бажаного результату.
						Причин на це - безліч. Ми ж гарантовано навчимо вас</p>
				</div>

				<div class="our-courses__main__info__list">
					<ul>
						<li>Вільно розмовляти</li>
						<li>Розуміти</li>
						<li>Чититати</li>
					</ul>
				</div>

				<div class="our-courses__main__info__button">
					<a href="#">Дізнатися більше</a>
				</div>

			</div>
		</div>

		<div class="col-12 col-lg-6">
			<div class="our-courses__main__image">
				<img src="assets/img/courses-img-4.png" alt="courses">
			</div>
			<div class="our-courses__main__navigation-arrow">
				<img src="assets/img/navigation-left.png" alt="navigation">
			</div>
		</div>

		<div class="our-courses__main__languages-btn">
			<div class="row ">

				<div class="justify-content-center d-flex flex-wrap flex-row">
					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/flag-1.png" alt="flag1">
							<p>Англійська</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/pol-flag.png" alt="flag1">
							<p>Польська</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/germ-flag.png" alt="flag1">
							<p>Німецька</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/esp-flag.png" alt="flag1">
							<p>Іспанська</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/italy-flag.png" alt="flag1">
							<p>Італійська</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/franc-flag.png" alt="flag1">
							<p>Французька</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/chesh-flag.png" alt="flag1">
							<p>Чеська</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/china-flag.png" alt="flag1">
							<p>Китайська</p>
						</a>
					</div>

					<div class="col-12 col-lg-4">
						<a class="our-courses__main__languages-btn__item">
							<img src="assets/img/jap-flag.png" alt="flag1">
							<p>Японська</p>
						</a>
					</div>
				</div>

			</div>
		</div>
		<div class="linear-gradient"></div>
	</div>
	
</div>
{{/mol-our-courses-content}}