{{#mol-trust-numeric-bottom-block}}
<div class="col-12 col-md-6 col-lg-6 text-color-child {{spanish-courses-numeric-fonts}} align-items-center d-flex justify-content-start">
	{{#number}}
	<span>{{{number}}}</span>
	{{/number}}

	{{#text}}

	{{#my-number}}
	{{{my-number}}}
	{{/my-number}}
	
	<p>
		{{{text}}}
	</p>
	{{/text}}
</div>
{{/mol-trust-numeric-bottom-block}}