{{#mol-trust-bottom-content}}
<div class="trust__main__numbers-block {{spanish-number-block}} {{spanish-bg-color}}"
	style="background-image:url({{{bg-image}}});">
	<div class="row">
		<div class="even-style">
			{{> ../molecules/trust-numeric-bottom-block}}
		</div>
	</div>
</div>
{{/mol-trust-bottom-content}}