{{#mol-trust-azbyka-content}}
<div class="col-12 col-md-5 col-lg-5">
	<div class="trust-azbyka__main__item {{numbers-color-yellow}} {{numbers-color-violet}}">
		<h2>{{{title}}}</h2>
		{{{description}}}
		<img src="{{{img}}}" alt="{{{alt}}}">
	</div>
</div>
{{/mol-trust-azbyka-content}}