{{#mol-trust-top-content}}

{{#description}}
<div class="trust__main__description">
	<p>
		{{{description}}}
	</p>
</div>
{{/description}}

{{#title}}
<div class="trust__main__title text-center">
	<h2>{{{title}}}</h2>
</div>
{{/title}}

{{/mol-trust-top-content}}