{{#mol-useful-spanish-courses-content}}
{{#yellow-cube}}
<div class="col-12 col-lg-4 spanish-items">
	<div class="useful-spanish-courses__main__item" style="background-image:url({{{bg-image}}});">
		{{#title}}
		<div class="useful-spanish-courses__main__item__title">
			<h2>{{{title}}}</h2>
		</div>
		{{/title}}
		{{#description}}
		<div class="useful-spanish-courses__main__item__description text-center">
			<p>
				{{{description}}}
			</p>
		</div>
		{{/description}}
	</div>
</div>
{{/yellow-cube}}
{{/mol-useful-spanish-courses-content}}