{{#mol-we-realize-oral-section-content}}
{{#elements-we-realize}}
<div class="col-12 col-lg-6 pb-4">
  <div class="we-realize-oral-section__main__content  {{toefl-we-realize-color-line}} {{we-realize-oral-section-width}}">
    <div class="we-realize-oral-section__main__content__title  {{spanish-courses-color-line-yellow}} {{spanish-courses-title-style}} {{we-realize-title-horizont}} {{spanish-courses-title-hotizont}}">
      {{#number}}
      <span>{{{number}}}</span>
      {{/number}}

      {{#title}}
      <h2>{{{title}}}</h2>
      {{/title}}

      {{#subtitle}}
      <p>{{{text}}}</p>
      {{/subtitle}}

    </div>

    {{#description}}
    <div class="we-realize-oral-section__main__content__description">
      <p>{{{description}}}</p>
      <span>{{{span}}}</span>
    </div>
    {{/description}}
  </div>
</div>
{{/elements-we-realize}}
{{#info-text}}
<div class="col-12 col-lg-12">
  <div class="we-realize-oral-section__main__info-text ">

    {{#text-1}}
    <p>
      {{{text-1}}}
    </p>
    {{/text-1}}

    {{#text-2}}
    <span>
      {{{text-2}}}
    </span>
    {{/text-2}}

  </div>
</div>
{{/info-text}}
{{/mol-we-realize-oral-section-content}}