{{#mol-why-we-cool-content}}
<div class="row why-we-cool-padding-top">
	<div class="why-we-cool__main__content {{why-we-cool-border-violet}}">
		{{#colrs-block}}
		<div class="col-12 col-lg-4 px-0">
			<div class="why-we-cool__main__content__item-1" style="background-image:url('{{{bg-image}}}');">
				<h2>{{{text-1}}}</h2>
				<p>{{{text-2}}}</p>
			</div>
		</div>
		{{/colrs-block}}
	</div>
</div>
{{/mol-why-we-cool-content}}