{{#mol-written-translation-left-info}}
<div class="col-12 col-lg-6">
	<div class="written__main__info">
		<div class="written__main__info__title {{firts-title-padding}} {{oral-translation-custome-baner}}">
			{{#title1}}
			<h1>{{{title1}}}</h1>
			{{/title1}}

			{{#title2}}
			<h2>{{{title2}}}</h2>
			{{/title2}}
		</div>

		<div class="written__main__info__text {{text-font-family}}">
			{{#description1}}
			<p>{{{description1}}}</p>
			{{/description1}}

			{{#description2}}
			<p>
				{{{description2}}}
			</p>
			{{/description2}}
		</div>

	</div>
</div>
{{/mol-written-translation-left-info}}