{{#org-company-logo}}
	<section class="company-logo {{written-logo-padding}} {{company-logo-padding-none}}">
		<div class="container">
			<div class="believe {{belive-padding}}">
				{{> ../molecules/title-h1-default}}
			</div>

		</div>
		<div class="container">
			<div class="company-logo__main">
				{{> ../molecules/company-logos}}
			</div>
		</div>
	</section>
{{/org-company-logo}}
