{{#org-contact-line-2}}

<section class="contact-map">
	<div class="container">
		<div class="contact-map__main">
			{{> ../molecules/title-h1-default}}
			<div class="contact-map__main__content">
				<div class="linear-contact-map">
					<div class="row" >

						
						<div class="col-12 col-lg-4">
							<div class="contact-map__main__content__item-1" style="background-image:url('assets/img/contact-map-bg1.png');">
								<div class="contact-map__main__content__item-1__content">
									<a href="javascript:google.maps.event.trigger(gmarkers['Location 1'],'click');" 
										 data-lat-lng="49.825013,24.011276"
										 data-str="вул. Ак.Сахарова, 42/107"
										 class="map-target">
											<p>м. Львів,</p>
											<p>вул. Ак.Сахарова, 42/107</p>
									</a>
									
								</div>
							</div>
						</div>

						<div class="col-12 col-lg-4">
							<div class="contact-map__main__content__item-2" style="background-image:url('assets/img/contact-map-bg2.png');">
								<div class="contact-map__main__content__item-2__content">
									<a href="javascript:google.maps.event.trigger(gmarkers['Location 2'],'click');" 
										 data-lat-lng="49.792136,24.056247"
										 data-str="просп. Червоної калини 62-А (Інтерсіті)"
										 class="map-target">
											<p>м. Львів,</p>
											<p>просп. Червоної калини 62-А (Інтерсіті)</p>
									</a>
									
								</div>
							</div>
						</div>

						<div class="col-12 col-lg-4">
							<div class="contact-map__main__content__item-3 " style="background-image:url('assets/img/contact-map-bg3.png');">
								<div class="contact-map__main__content__item-3__content">
									<a href="javascript:google.maps.event.trigger(gmarkers['Location 3'],'click');"
										 data-lat-lng="49.856210,24.021714"
										 data-str="просп. Чорновола 67-Г (Інтерсіті)"
										 class="map-target">
											<p>м. Львів,</p>
											<p>просп. Чорновола 67-Г (Інтерсіті)</p>
									</a>
									
								</div>
							</div>
						</div>


				

					</div>
				</div>

				<div class="row">
					<div class="col-6 col-lg-3">
						<div class="contact-map__main__content__info-item">
							<div class="contact-map__main__content__info-item__title">
								<img src="assets/img/home-phone-number.png" alt="phone">
								<p>Переклади</p>
							</div>
							<a href="#">(067) 672 47 73</a>
							<a href="#">(093) 632 24 53</a>
						</div>
					</div>

					<div class="col-6 col-lg-3">
						<div class="contact-map__main__content__info-item">
							<div class="contact-map__main__content__info-item__title">
								<img src="assets/img/home-phone-number.png" alt="phone">
								<p>Курси</p>
							</div>
							<a href="#">(098) 57 57 999</a>
							<a href="#">(098) 57 57 999 </a>
						</div>
					</div>

					<div class="col-12 col-lg-3">
						<div class="contact-map__main__content__info-item">
							<div class="contact-map__main__content__info-item__title">
								<img src="assets/img/home-phone-number.png" alt="phone">
								<p>Загальна інформація</p>
							</div>
							<a href="#">(032) 297 05 54</a>
						</div>
					</div>

					<div class="col-12 col-lg-3">
						<div class="contact-map__main__content__info-item">
							<div class="contact-map__main__content__info-item__title">
								<img src="assets/img/gmail-icon.png" alt="gmail">
								<p>Пошта</p>
							</div>
							<a href="#">office@azbukasvitu.lviv.ua</a>
						</div>
					</div>
				</div>
				<div id="map" class="contact-map__main__content__map" style="width:100%; min-height:390px; position: relative;"></div>
			</div>
		</div>
	</div>
</section>
{{/org-contact-line-2}}