{{#org-courses-for-kids-content-line-4}}
<section class="why-we-cool">
	<div class="container">
		<div class="why-we-cool__main">
			{{> ../molecules/title-h1-default}}

			{{> ../molecules/why-we-cool-content}}
		</div>
	</div>
</section>
{{/org-courses-for-kids-content-line-4}}