{{#org-courses-for-kids-content-line-3}}
<section class="classes-going {{classes-spanish-courses-arrows}} {{classes-going-background}} {{classes-international-exams}} {{classes-teofl-background}} {{blue-bg}}">
	<div class="container">
		<div class="classes-going__main">
			{{> ../molecules/title-h1-default}}
			<div class="classes-going__main-paddingTop  classes-going-slider international-exams-arrows {{about-us-arrow-position}}">
				{{> ../molecules/classes-going-content}}
			</div>

			<div class="custom-arrow custom-arrow-line-4">
				<a href="#" class="custom-arrow-left">
					<i class="fa fa-caret-left"></i>
				</a>
				<a href="#" class="custom-arrow-right">
					<i class="fa fa-caret-right"></i>
				</a>
			</div>

		</div>
	</div>
</section>
{{/org-courses-for-kids-content-line-3}}