{{#org-faq-content-line-1}}
<section class="faq">
	<div class="container">
		{{> ../molecules/title-h1-default}}
		<div class="faq__main">
			<div class="accordion js-accordion">
				<!-- Molecule - Tabs/FAQ -->
				{{> ../molecules/faq-content-tabs}}
				<!-- /Molecule - Tabs/FAQ -->
			</div>
		</div>
	</div>
</section>
{{/org-faq-content-line-1}}