{{#org-home-content-line-2}}
<section class="language-courses">
	<div class="container">
		{{> ../molecules/title-h1-default}}
		<div class="language-courses__content">
			{{#content}}
			{{> ../molecules/info-and-img}}
			{{/content}}
		</div>
	</div>
</section>
{{/org-home-content-line-2}}