{{#org-home-content-line-3}}
<section class="trust {{spanish-courses-number-block}}">
	<div class="container">
		{{> ../molecules/title-h1-default}}
	</div>
	<div class="full-bg" style="background-image:url({{{bg-full-image}}});">
		<div class="container">
			<div class="trust__main">
				{{> ../molecules/trust-top-content}}
				{{> ../molecules/trust-bottom-content}}
			</div>
		</div>
	</div>
</section>
{{/org-home-content-line-3}}