{{#org-home-content-line-4}}
<section class="quotes {{our-courses-arrows}} {{adult-courses-arrows}} {{kids-courses-arrows}} {{quotes-margin}}" style="background-image:url({{{bg-image}}});">

	<div class="container">
		{{> ../molecules/title-h1-default}}
		<div class="quotes__main {{spanish-courses-padding-top-style}}">
			<div class="row d-flex {{row-reverse-quotes}}">
				<div class="col-12 col-lg-6">
					<div class="quotes__main__image" style="background-image:url(assets/img/quotes-image-1.png);">
					</div>
				</div>

				<div class="col-12 col-lg-6">
					<div class="d-flex align-items-start justify-content-center flex-column h-100">
						<div class="quotes__main__description clearfix {{quotes-description-color}}">
							<p>Доброго вечора! Я проходила у вас курс англійської мови з жовтня по грудень 2013 р. Дуже задоволена
								результатом, за що дуже вдячна! Але після завершення курсу я не забирала свого свідоцтва про завершення
								курсів,
								оскільки планувала продовжити навчання у 2014 р. Але у зв'язку з переїздом цього зробити не змогла. Приїхала
								пізніше та без проблем отримала свідоцтво.
							</p>
							<span>Катерина Микитюк</span>
						</div>
					</div>
				</div>
			</div>

			<div class="row d-flex {{row-reverse-quotes}}">
				<div class="col-12 col-lg-6">
					<div class="quotes__main__image" style="background-image:url(assets/img/quotes-image-1.png);">
					</div>
				</div>

				<div class="col-12 col-lg-6">
					<div class="d-flex align-items-start justify-content-center flex-column h-100">
						<div class="quotes__main__description clearfix {{quotes-description-color}}">
							<p>Доброго вечора! Я проходила у вас курс англійської мови з жовтня по грудень 2013 р. Дуже задоволена
								результатом, за що дуже вдячна! Але після завершення курсу я не забирала свого свідоцтва про завершення
								курсів,
								оскільки планувала продовжити навчання у 2014 р. Але у зв'язку з переїздом цього зробити не змогла. Приїхала
								пізніше та без проблем отримала свідоцтво.
							</p>
							<span>Катерина Микитюк</span>
						</div>
					</div>
				</div>
			</div>

			<div class="row d-flex {{row-reverse-quotes}}">
				<div class="col-12 col-lg-6">
					<div class="quotes__main__image" style="background-image:url(assets/img/quotes-image-1.png);">
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div class="d-flex align-items-start justify-content-center flex-column h-100">
						<div class="quotes__main__description clearfix {{quotes-description-color}}">
							<p>Доброго вечора! Я проходила у вас курс англійської мови з жовтня по грудень 2013 р. Дуже задоволена
								результатом, за що дуже вдячна! Але після завершення курсу я не забирала свого свідоцтва про завершення
								курсів,
								оскільки планувала продовжити навчання у 2014 р. Але у зв'язку з переїздом цього зробити не змогла. Приїхала
								пізніше та без проблем отримала свідоцтво.
							</p>
							<span>Катерина Микитюк</span>
						</div>
					</div>
				</div>
			</div>
		
		</div>
		<div class="custom-arrow-line-2 custom-arrow">
				<a href="#" class="custom-arrow-left">
					<i class="fa fa-caret-left"></i>
				</a>

				<a href="#" class="custom-arrow-right ">
					<i class="fa fa-caret-right"></i>
				</a>
			</div>
	</div>
</section>
{{/org-home-content-line-4}}