{{#org-international-exams-content-line-2}}
	<section class="we-go-to {{our-courses-button-style}}">
		<div class="container">
			{{> ../molecules/title-h1-default}}
			<div class="we-go-to__main">
				{{> ../molecules/international-exams-more-btn}}
			</div>
		</div>
	</section>
{{/org-international-exams-content-line-2}}
