{{#org-internatonal-exams-baner}}
<section class="internatonal-exams  {{about-us-baner-style}} " style="background-image:url('{{{baner-image}}}');">
	<div class="container">
		<div class="internatonal-exams__main">
			{{> ../molecules/international-exams-baner-content}}
		</div>
	</div>
</section>
{{/org-internatonal-exams-baner}}