{{#org-oral-translation-content-line-6}}
<section class="city-center-content">
	<div class="city-center-padding city-center">
		{{> ../molecules/title-h1-default}}
	</div>
	<div class="container">
		{{> ../molecules/city-center-content-2}}
	</div>
</section>
{{/org-oral-translation-content-line-6}}