{{#org-oral-translation-content-line-8}}
<section class="we-realize-oral-section {{toefl-line-style}} {{faq-line-style}} {{oral-translation-padding-top}}">
	<div class="container">
		{{> ../molecules/title-h1-default}}
		<div class="we-realize-oral-section__main">
			<div class="row pt-5">
				{{> ../molecules/we-realize-oral-section-content}}
			</div>
		</div>
	</div>
</section>
{{/org-oral-translation-content-line-8}}