{{#org-our-courses-content-line-1}}
<section class="our-courses">
	<div class="container">
		<div class="our-courses__main">
			<div class="title-courses-padding">
				{{> ../molecules/title-h1-default}}
			</div>
			{{> ../molecules/our-courses-content}}
		</div>
	</div>
</section>
{{/org-our-courses-content-line-1}}