{{#org-tariffs-content-line-1}}
<section class="tariffs">
	<div class="container">
		{{> ../molecules/title-h1-default}}
		<div class="tariffs__main">
			<div class="row justify-content-center align-items-center {{tariff-blocks-color}}">
				{{> ../molecules/tariffs-items}}
			</div>
		</div>
	</div>
</section>
{{/org-tariffs-content-line-1}}